{% extends 'base.html' %}
{% block content %}
    <header>
        <h2>{{competition['name']}}</h2>
    </header>
<h4>Places available: <strong style="color: #3498db;">{{competition['numberOfPlaces']}}</strong> </h4> 
    <form action="/purchasePlaces" method="post">
        <input type="hidden" name="club" value="{{club['name']}}">
        <input type="hidden" name="competition" value="{{competition['name']}}">
        <label for="places">How many places?</label><input type="number"  min="0" max="12" name="places" id="" required/>
        <button type="submit">Book</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    {% endblock content %}